<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MvcTestApp</title>
</head>
<body>
<div>
    @Html.ActionLink("Page 1", "Index", "Page1")
    @Html.ActionLink("Page 2", "Index", "Page2")
    @Html.ActionLink("Page 3", "Index", "Page3")
    @Html.ActionLink("LogOut", "LogOut", "Login")
</div>
<div>
    @RenderBody()
</div>
</body>
</html>
